.item-img img {
  width: 100%;
  height: 100%;
}
.item-img ._small {
  text-align: center;
}
.item-img ._small img {
  width: 77%;
  height: 100%;
}
.item-img ._smaller {
  text-align: center;
}
.item-img ._smaller img {
  width: 65%;
  height: 100%;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

main {
  overflow: hidden;
  padding-top: 80px;
}

.uderline {
  text-decoration: underline;
}

.callback-button {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 160px;
  height: 160px;
  padding: 3px;
  border: 3px solid #f4902b;
  transition: 0.3s;
  position: relative;
}
.callback-button .button_inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1a1a18;
  color: #fffdfa;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  transition: 0.3s;
}
.callback-button .img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.callback-button .img img {
  width: 100%;
}
.callback-button:hover .button_inside {
  background: #545454;
}
.callback-button:active {
  border-color: #fff;
}
.callback-button:active .img {
  opacity: 1;
}
.callback-button:active .button_inside {
  opacity: 0;
}

.intro-logo {
  transform: translate(200%, 0);
  transition: 1s;
  transition-timing-function: cubic-bezier(0, 0, 0.68, 1.41);
}
.intro-logo._active {
  transform: translate(0, 0);
}

.text_animation_fade {
  opacity: 0;
  transition: 1s;
}
.text_animation_fade._active {
  opacity: 1;
}

.text_animation_slide {
  position: relative;
  transition: 3s;
}
.text_animation_slide .text {
  margin-bottom: 28px;
}
.text_animation_slide .text_2 {
  margin-bottom: 30px;
}
.text_animation_slide::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 10;
  display: block;
  position: absolute;
  transition: 3s;
}
.text_animation_slide._active::after {
  height: 0;
}

.good_container {
  transition: 1s;
  transition-delay: 0.1s;
}
.good_container .good-description {
  position: relative;
}
.good_container .good-description .item-title {
  transform: translate(-100%, 0);
  transition: 1s;
}
.good_container .good-description .desc_wrapper {
  position: relative;
  opacity: 0;
  transition-delay: 2s;
}
.good_container .good-description .desc_wrapper::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #1a1a18;
  position: absolute;
  transition: 3s;
  transition-delay: 2.1s;
}
.good_container:nth-child(even) .good-description .item-title {
  transform: translate(100%, 0);
}
.good_container._active .good-description .item-title {
  transform: translate(0%, 0);
}
.good_container._active .good-description .desc_wrapper {
  opacity: 1;
  transition-delay: 0;
}
.good_container._active .good-description .desc_wrapper::after {
  height: 0;
}

.wrapper {
  z-index: 10;
  position: relative;
}

.backgraound {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.backgraound._active {
  background: #1a1a18;
}

.telephone {
  transition: 0.3s;
}
.telephone:hover {
  opacity: 0.8;
}

.header-nav__item {
  transition: 0.3s;
}
.header-nav__item:hover {
  color: #545454;
  transform: scale(1.1);
}

.good-item .item-img {
  min-width: 0;
  flex: 0 1 570px;
}
.good-item .item-img .img_item {
  height: 570px;
}
.good-item .item-img .img_item img {
  -o-object-fit: cover;
     object-fit: cover;
}
.good-item.reverse {
  flex-direction: row-reverse;
}
.good-item.reverse .good-description {
  flex: 0 1 508px;
}

.callback_button_form {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #1a1a18;
  background: #1a1a18;
  transition: 0.3s;
}
.callback_button_form:hover {
  color: black;
  border: 2px solid #1a1a18;
  background: #fff;
}
.callback_button_form:active {
  color: #fff;
  background: #1a1a18;
}

.modal-contacts__link {
  font-family: Inter;
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  border: 3px solid #1a1a18;
  border-radius: 5px;
  width: 297px;
  height: 40px;
  padding: 11px 19px;
  text-transform: uppercase;
  transition: 0.3s;
}
.modal-contacts__link:hover {
  background: #1a1a18;
  color: #fff;
}
.modal-contacts__link:active {
  background: #fff;
  color: #1a1a18;
}

.item-end a {
  white-space: nowrap;
}

.video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3001;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  transition: 1s;
}
.video video {
  width: 40%;
  transform: scale(2.5);
  transition: 1s;
}
.video._active video {
  transform: scale(1);
}
.video._ended video {
  opacity: 0;
}
.video._ended_2 {
  opacity: 0;
  visibility: hidden;
}

.section_intro__img {
  flex: 0 1 635px;
  height: 644px;
  display: flex;
  align-items: center;
}
.section_intro__img img {
  width: 100%;
}
.section_intro__img .image1_cont {
  margin-right: -40px;
  position: relative;
  z-index: 2;
  max-width: 420px;
}
.section_intro__img .image1_cont img {
  transform: scale(3);
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.51, 1.63);
}
.section_intro__img .image2_cont {
  position: relative;
  z-index: 2;
  max-width: 265px;
}
.section_intro__img .image2_cont img {
  transform: scale(3);
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.51, 1.63);
}
.section_intro__img._active .image1_cont {
  z-index: 3003;
}
.section_intro__img._active .image1_cont img {
  transform: scale(1);
}
.section_intro__img._active_2 .image2_cont {
  z-index: 3002;
}
.section_intro__img._active_2 .image2_cont img {
  transform: scale(1);
}
.section_intro__img._ended .image1_cont {
  z-index: 3;
}
.section_intro__img._ended .image2_cont {
  z-index: 2;
}

.telephone {
  position: relative;
}
.telephone .popup_link {
  position: absolute;
  height: 20px;
  width: 100%;
  z-index: 2;
  bottom: 0;
  left: 0;
}

.brand-content__img {
  position: relative;
}
.brand-content__img .animation {
  top: 72px;
  right: 48px;
}

.brand-content__img.map-2 {
  position: relative;
}
.brand-content__img.map-2 .animation {
  top: 138px;
  left: 276px;
  right: unset;
}

.animation {
  position: absolute;
  -webkit-animation: pulse 1s ease infinite;
          animation: pulse 1s ease infinite;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.sound {
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 0;
}
.sound .off {
  display: none;
}
.sound._active .on {
  display: none;
}
.sound._active .off {
  display: block;
}

@media screen and (max-width: 1000px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .header-content {
    border-bottom: 2px solid #1a1a18;
    justify-content: space-between;
  }
}
.header-content .phone_mobile {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header-content .phone_mobile {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .header-content .telephone {
    display: none;
  }
}
.header-content .mobile_controls {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header-content .mobile_controls {
    display: flex;
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .header-content .logo {
    width: 165px;
  }
  .header-content .logo img {
    width: 100%;
  }
}
.section-intro .section_intro__img {
  margin-right: 20px;
}
@media screen and (max-width: 1100px) {
  .section-intro .section_intro__img .image1_cont {
    flex: 0 1 60%;
  }
  .section-intro .section_intro__img .image2_cont {
    flex: 0 1 40%;
  }
}
@media screen and (max-width: 800px) {
  .section-intro .section_intro__img {
    display: none;
  }
}
.section-intro .section-intro__text .mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .section-intro .section-intro__text .mobile {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .section-intro .section-intro__text .intro-logo {
    margin: 0 auto;
    width: 280px;
  }
  .section-intro .section-intro__text .intro-logo img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .section-intro .section-intro__text .text_animation_slide h2 {
    font-weight: 400;
    font-size: 19px;
    line-height: 129%;
  }
}
@media screen and (max-width: 600px) {
  .section-intro .section-intro__text .text_animation_slide .text {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .section-intro .section-intro__text .text_animation_slide .text_2 h3 {
    font-size: 14px;
    line-height: 125%;
  }
  .section-intro .section-intro__text .text_animation_slide .text_2 br {
    display: none;
  }
}
.section-intro .section-intro__text .intro-text__animation2 {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .section-intro .section-intro__text .intro-text__animation2 {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 800px) {
  .section-intro .section-intro__text .intro-text__request .request-title {
    text-align: center;
    margin: 0 auto;
  }
  .section-intro .section-intro__text .intro-text__request button {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .section-intro .section-intro__text {
    padding: 0;
    height: auto;
    max-width: 100%;
    text-align: center;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .section-intro {
    margin-top: 0;
  }
}