.item-img {
  img {
    width: 100%;
    height: 100%;
  }
  ._small {
    text-align: center;
    img {
      width: 77%;
      height: 100%;
      //   object-fit: contain;
    }
  }

  ._smaller {
    text-align: center;
    img {
      width: 65%;
      height: 100%;
      //   object-fit: contain;
    }
  }
}

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}

main {
  overflow: hidden;
  padding-top: 80px;
}

.uderline {
  text-decoration: underline;
}

.callback-button {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 160px;
  height: 160px;
  padding: 3px;
  border: 3px solid #f4902b;
  transition: 0.3s;
  position: relative;

  .button_inside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1a1a18;
    color: #fffdfa;
    text-transform: uppercase;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    transition: 0.3s;
  }
  .img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    img {
      width: 100%;
    }
  }

  &:hover {
    .button_inside {
      background: #545454;
    }
  }
  &:active {
    border-color: #fff;
    .img {
      opacity: 1;
    }
    .button_inside {
      opacity: 0;
    }
  }
}

.intro-logo {
  transform: translate(200%, 0);
  transition: 1s;
  transition-timing-function: cubic-bezier(0, 0, 0.68, 1.41);

  &._active {
    transform: translate(0, 0);
  }
}

.text_animation_fade {
  opacity: 0;
  transition: 1s;
  &._active {
    opacity: 1;
  }
}

.text_animation_slide {
  position: relative;
  transition: 3s;
  .text {
    margin-bottom: 28px;
  }
  .text_2 {
    margin-bottom: 30px;
  }
  &::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
    display: block;
    position: absolute;
    transition: 3s;
  }
  &._active {
    &::after {
      height: 0;
    }
  }
}

.good_container {
  transition: 1s;
  transition-delay: 0.1s;

  .good-description {
    position: relative;
    .item-title {
      transform: translate(-100%, 0);
      transition: 1s;
    }
    .desc_wrapper {
      position: relative;
      opacity: 0;
      transition-delay: 2s;
      &::after {
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: #1a1a18;
        position: absolute;
        transition: 3s;
        transition-delay: 2.1s;
      }
    }
  }

  &:nth-child(even) {
    .good-description {
      .item-title {
        transform: translate(100%, 0);
      }
    }
  }

  &._active {
    .good-description {
      .item-title {
        transform: translate(0%, 0);
      }
      .desc_wrapper {
        opacity: 1;
        transition-delay: 0;
        &::after {
          height: 0;
        }
      }
    }
  }
}

.wrapper {
  z-index: 10;
  position: relative;
}

.backgraound {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  &._active {
    background: #1a1a18;
  }
}

.telephone {
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

.header-nav__item {
  transition: 0.3s;
  &:hover {
    color: #545454;
    transform: scale(calc(22 / 20));
  }
}

.good-item {
  .item-img {
    min-width: 0;
    flex: 0 1 570px;
    .img_item {
      height: 570px;
      img {
        object-fit: cover;
      }
    }
  }
  &.reverse {
    flex-direction: row-reverse;
    .good-description {
      flex: 0 1 508px;
    }
  }
}

.callback_button_form {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #1a1a18;
  background: #1a1a18;
  transition: 0.3s;
  &:hover {
    color: black;
    border: 2px solid #1a1a18;
    background: #fff;
  }

  &:active {
    color: #fff;
    background: #1a1a18;
  }
}

.modal-contacts__link {
  font-family: Inter;
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  border: 3px solid #1a1a18;
  border-radius: 5px;
  width: 297px;
  height: 40px;
  padding: 11px 19px;
  text-transform: uppercase;
  transition: 0.3s;
  &:hover {
    background: #1a1a18;
    color: #fff;
  }
  &:active {
    background: #fff;
    color: #1a1a18;
  }
}

.item-end {
  a {
    white-space: nowrap;
  }
}

.video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3001;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  transition: 1s;
  video {
    width: 40%;
    transform: scale(2.5);
    transition: 1s;
  }

  &._active {
    video {
      transform: scale(1);
    }
  }
  &._ended {
    video {
      opacity: 0;
    }
  }
  &._ended_2 {
    opacity: 0;
    visibility: hidden;
  }
}

.section_intro__img {
  flex: 0 1 635px;
  height: 644px;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
  .image1_cont {
    margin-right: -40px;
    position: relative;
    z-index: 2;
    max-width: 420px;
    img {
      transform: scale(3);
      transition: 0.5s;
      transition-timing-function: cubic-bezier(0, 0, 0.51, 1.63);
    }
  }

  .image2_cont {
    position: relative;
    z-index: 2;
    max-width: 265px;
    img {
      transform: scale(3);
      transition: 0.5s;
      transition-timing-function: cubic-bezier(0, 0, 0.51, 1.63);
    }
  }

  &._active {
    .image1_cont {
      z-index: 3003;
      img {
        transform: scale(1);
      }
    }
  }
  &._active_2 {
    .image2_cont {
      z-index: 3002;
      img {
        transform: scale(1);
      }
    }
  }
  &._ended {
    .image1_cont {
      z-index: 3;
    }
    .image2_cont {
      z-index: 2;
    }
  }
}

.telephone {
  position: relative;
  .popup_link {
    position: absolute;
    height: 20px;
    width: 100%;
    z-index: 2;
    bottom: 0;
    left: 0;
  }
}

.brand-content__img {
  position: relative;
  .animation {
    transform: translate(50%, -50%);
    top: 33%;
    right: 13%;
  }
}

.brand-content__img.map-2 {
  position: relative;
  .animation {
    top: 43%;
    right: 48%;
  }
}

.animation {
  position: absolute;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: translate(50%, -50%) scale(1);
  }
  50% {
    transform: translate(50%, -50%) scale(0);
  }
  100% {
    transform: translate(50%, -50%) scale(1);
  }
}

.sound {
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 0;
  .off {
    display: none;
  }
  &._active {
    .on {
      display: none;
    }
    .off {
      display: block;
    }
  }
}

.nav {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.header-content {
  @media screen and (max-width: 1000px) {
    border-bottom: 2px solid #1a1a18;
    justify-content: space-between;
  }
  .phone_mobile {
    display: none;
    @media screen and (max-width: 1000px) {
      display: block;
    }
  }

  .telephone {
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  .mobile_controls {
    display: none;
    @media screen and (max-width: 1000px) {
      display: flex;
      gap: 20px;
    }
  }

  .logo {
    @media screen and (max-width: 600px) {
      width: 165px;
      img {
        width: 100%;
      }
    }
  }

  .burger {
  }
}

.section-intro {
  .section_intro__img {
    margin-right: 20px;

    @media screen and (max-width: 1100px) {
      .image1_cont {
        flex: 0 1 60%;
      }
      .image2_cont {
        flex: 0 1 40%;
      }
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .section-intro__text {
    .mobile {
      display: none;
      @media screen and (max-width: 800px) {
        display: block;
      }
    }
    .intro-logo {
      @media screen and (max-width: 800px) {
        margin: 0 auto;
        width: 280px;
        img {
          width: 100%;
        }
      }
    }

    .text_animation_slide {
      h2 {
        @media screen and (max-width: 600px) {
          font-weight: 400;
          font-size: 19px;
          line-height: 129%;
        }
      }
      .text {
        @media screen and (max-width: 600px) {
          margin-bottom: 0;
        }
      }
      .text_2 {
        @media screen and (max-width: 600px) {
          h3 {
            font-size: 14px;
            line-height: 125%;
          }
          br {
            display: none;
          }
        }
      }
    }

    .intro-text__animation2 {
      margin-bottom: 20px;

      @media screen and (max-width: 600px) {
        margin-bottom: 0;
      }
    }

    .intro-text__request {
      @media screen and (max-width: 800px) {
        .request-title {
          text-align: center;
          margin: 0 auto;
        }
        button {
          display: none;
        }
      }
    }

    @media screen and (max-width: 800px) {
      padding: 0;
      height: auto;
      max-width: 100%;
      text-align: center;
      display: block;
    }
  }

  @media screen and (max-width: 800px) {
    margin-top: 0;
  }
}

.section-list {
  .section-list__content {
    .section-list__images {
      max-width: calc(100% - 250px);
      img {
        width: 100%;
        object-fit: contain;
      }

      @media screen and (max-width: 850px) {
        display: none;
      }
    }
    @media screen and (max-width: 850px) {
      align-items: center;
      margin-top: 30px;
    }
  }
  @media screen and (max-width: 850px) {
    margin-top: 80px;
    margin-bottom: 0;
    h1 {
      text-align: center;
      font-size: 35px;
      line-height: 1.2;
    }
  }

  @media screen and (max-width: 550px) {
    h1 {
      font-weight: 600;
      font-size: 23px;
      line-height: 28px;
    }
  }
}

.section-goods {
  .good_container {
    .container {
      .good-item {
        @media screen and (max-width: 1000px) {
          padding: 50px 0;
        }

        .item-img {
          @media screen and (max-width: 850px) {
            display: none;
          }
        }
        .good-description {
          .item-title {
            @media screen and (max-width: 850px) {
              font-weight: 700;
              font-size: 35px;
              line-height: 42px;
              color: #fffdfa;
              margin-bottom: 30px;
              text-align: center;
            }
          }

          .desc_wrapper {
            .item-subtitle {
              @media screen and (max-width: 850px) {
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                text-align: center;
                margin-bottom: 30px;
              }
            }
            .mobile_price {
              display: none;
              width: 60px;
              height: 60px;
              margin: 0 auto 30px;
              background: #f4902b;
              border: 1px solid #fffdfa;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              border-radius: 50%;
              p {
                font-size: 8px;
                line-height: 125%;
                text-align: center;
                color: #fffdfa;
                &:first-child {
                  text-transform: uppercase;
                  font-weight: 900;
                  font-size: 12px;
                  line-height: 125%;
                }
              }
              @media screen and (max-width: 850px) {
                display: flex;
              }
            }

            .item-description {
              @media screen and (max-width: 850px) {
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                text-align: center;
                width: 100%;
                max-width: 100%;
                margin-bottom: 30px;
              }
              @media screen and (max-width: 500px) {
                font-size: 10px;
              }
            }
          }
          .item-end {
            img {
              @media screen and (max-width: 850px) {
                display: none;
              }
            }
            a {
              @media screen and (max-width: 850px) {
                margin: 0;
              }
              @media screen and (max-width: 550px) {
                padding: 3px 12px;
                font-weight: 700;
                font-size: 10px;
                line-height: 1.2;
              }
            }
            @media screen and (max-width: 850px) {
              justify-content: center;
            }
          }
          @media screen and (max-width: 850px) {
            width: 100%;
          }
        }
        .item_img {
          display: none;
          text-align: center;
          margin-bottom: 30px;
          img {
            max-width: 400px;
            width: 100%;
          }
          @media screen and (max-width: 850px) {
            display: block;
          }
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    padding-bottom: 0;
  }
}

.about-brand {
  .about-brand__logo {
    img {
      max-width: 470px;
      width: 100%;
    }
    @media screen and (max-width: 750px) {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .about-brand__content {
    .brand-content__text {
      flex: 0 1 370px;
      &.brand-text__belarus {
        flex: 0 1 570px;
        @media screen and (max-width: 750px) {
          flex: 0 1 auto;
          margin: 0;
        }
      }
      @media screen and (max-width: 750px) {
        flex: 0 1 auto;
      }
    }
    .brand-content__img {
      flex: 0 1 800px;
      img {
        width: 100%;
      }

      &.map-2 {
        flex: 0 1 575px;
        @media screen and (max-width: 750px) {
          flex: 0 1 auto;
        }
      }

      @media screen and (max-width: 750px) {
        flex: 0 1 auto;
      }
    }
    @media screen and (max-width: 750px) {
      flex-direction: column-reverse;
      gap: 30px;
      text-align: center;
      margin-bottom: 13px;
    }
    @media screen and (max-width: 450px) {
      font-size: 14px;
      line-height: 150%;
    }
  }
  .about-brand__end {
    @media screen and (max-width: 750px) {
      text-align: center;
    }
    @media screen and (max-width: 450px) {
      font-size: 14px;
      line-height: 150%;
    }
  }
}

.section-brand {
  @media screen and (max-width: 750px) {
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

.section-about {
  @media screen and (max-width: 850px) {
    margin: 0 0 80px;
  }
}

.bottom-block__title {
  .bottom-title__first {
    @media screen and (max-width: 850px) {
      font-weight: 600;
      font-size: 30px;
      line-height: 32px;
    }
    @media screen and (max-width: 450px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .bottom-title__second {
    @media screen and (max-width: 850px) {
      font-weight: 600;
      font-size: 25px;
      line-height: 26px;
    }
    @media screen and (max-width: 450px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.footer-content {
  height: auto;
}

li.footer-nav__item {
  a {
    white-space: nowrap;
  }
  @media screen and (max-width: 550px) {
    margin: 0;
    margin-right: 0;
  }
}

.footer-nav {
  @media screen and (max-width: 550px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.mobile_prefooter {
  display: none;
  .contacts {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #1a1a18;
    margin-bottom: 20px;
  }

  .modal-phones__list {
    padding-left: 15px;
  }

  .modal-phones__list p::before {
    top: -58%;

    @media screen and (max-width: 450px) {
      top: -220%;
    }
  }

  .modal-adress__title {
    justify-content: center;
    margin-top: 15px;
    p::before {
      @media screen and (max-width: 450px) {
        top: -230%;
      }
    }
  }

  .modal-adress__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    &::before {
      display: none;
    }

    p {
      position: relative;
    }

    p:first-child::before {
      content: ".";
      position: absolute;
      top: -60%;
      left: -8%;
      color: #000;
      font-size: 3rem;
      @media screen and (max-width: 450px) {
        top: -220%;
      }
    }
  }

  .modal-times__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    p::before {
      top: -58%;
      @media screen and (max-width: 450px) {
        top: -225%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    display: block;
    padding: 0 20px 80px;
    text-align: center;
  }
  @media screen and (max-width: 450px) {
    font-size: 13px;
    line-height: 1.2;
  }
}

.burger {
  cursor: pointer;
}

.mobile_menu {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  transition: 0.3s;
  z-index: 1003;
  background: #fff;
  .menu {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1a1a18;
    padding: 50px 20px 0;
    margin-bottom: 40px;
    gap: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    li {
      cursor: pointer;
    }
  }
  .contact_part {
    font-size: 12px;
    line-height: 150%;
    color: #1a1a18;
    padding: 0 20px;
    a,
    span {
      text-decoration: underline;
    }

    .tel {
      padding-left: 15px;
      margin: 3px 0;
      position: relative;
      &::after {
        content: "";
        width: 3px;
        height: 3px;
        background: #000;
        border-radius: 50%;
        top: 9px;
        left: 5px;
        display: block;
        position: absolute;
      }
    }
  }

  .main_url {
    padding: 6px;
    font-weight: 900;
    font-size: 10px;
    line-height: 126%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1a1a18;
    margin: 40px 20px 0;
    border: 1px solid #1a1a18;
    border-radius: 3.38384px;
  }
  &._active {
    transform: translate(0, 0);
  }
}

.overlay_black {
  background: rgba(26, 26, 24, 0.3);
  backdrop-filter: blur(2px);
  position: fixed;
  transition: 0.3s;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  opacity: 0;
  visibility: hidden;
  &._active {
    opacity: 1;
    visibility: visible;
  }
}
